<nav class="navbar navbar-expand-lg navbar-primary bg-primary justify-content">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-white mx-3" routerLink="/orders/form" routerLinkActive="active">Pedidos</a>
      <a class="nav-item nav-link text-white mx-3" routerLink="/orders/form" routerLinkActive="active">Create Order</a>
      <a class="nav-item nav-link text-white mx-3" routerLink="/orders/list" routerLinkActive="active">View Order</a>
    </div>
  </nav>
  <router-outlet></router-outlet>